# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store

# Environment variables
.env
